.slide_item:nth-child(1) {
  background: url("images/c.png") no-repeat center;
  background-size: 70% 100%;
  background-color: black;
}
.slide_item:nth-child(2) {
  background: url("images/frustration.jpg") no-repeat center;
  background-size: 70% 100%;
  background-color: black;
}
.slide_item:nth-child(3) {
  background: url("images/java.jpg") no-repeat center;
  background-size: 70% 100%;
  background-color: black;
}
.slide_item:nth-child(4) {
  background: url("images/frustration.jpg") no-repeat center;
  background-size: 70% 100%;
  background-color: black;
}
.slide_item:nth-child(5) {
  background: url("images/structure.jpg") no-repeat center;
  background-size: 70% 100%;
  background-color: black;
}
.slide_item:nth-child(6) {
  background: url("images/frustration.jpg") no-repeat center;
  background-size: 70% 100%;
  background-color: black;
}
.slide_item:nth-child(7) {
  background: url("images/book.jpg") no-repeat center;
  background-size: 70% 100%;
  background-color: black;
}
.slide_item:nth-child(8) {
  background: url("images/web2.png") no-repeat center;
  background-size: 50% 100%;
  background-color: black;
}
.slide_item:nth-child(9) {
  background: url("images/web2.png") no-repeat center;
  background-size: 70% 100%;
  background-color: black;
}
.slide_item:nth-child(10) {
  background: url("images/group.jpg") no-repeat center;
  background-size: 70% 100%;
  background-color: black;
}
.slide_item:nth-child(11) {
  background: url("images/injury.png") no-repeat center;
  background-size: 70% 100%;
  background-color: black;
}
.slide_item:nth-child(12) {
  background: url("images/smile.png") no-repeat center;
  background-size: 70% 100%;
  background-color: black;
}
.slide_item:nth-child(13) {
  background: url("images/thank-you.png") no-repeat center;
  background-size: 70% 100%;
  background-color: black;
}
